.button {
  background-color: #158fcb;
  display: inline-block;
  height: 32px;
  padding: 0 16px;
  appearance: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 32px;
  transition: background-color 0.24s ease-in-out;
}

.button:active {
  background-color: darken(#158fcb, 8%);
}

.button:hover {
  color: #fff;
  background-color: lighten(#158fcb, 8%);
}

.button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: #ddd;
}
